</main>
<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>My Website</h5>
                <p>Providing quality services since 2025.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="/about" class="text-white">About Us</a></li>
                    <li><a href="/services" class="text-white">Services</a></li>
                    <li><a href="/contact" class="text-white">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Info</h5>
                <address>
                    123 Web Street<br>
                    Digital City, IN 10101<br>
                    <a href="mailto:info@mywebsite.com" class="text-white">info@mywebsite.com</a><br>
                    <a href="tel:+911234567890" class="text-white">+91 123 456 7890</a>
                </address>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; <%= new Date().getFullYear() %> My Website. All Rights Reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>
